@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    background-image: url("fond.jpg");
    background-attachment:fixed;
    background-size: 2000px ;
    background-repeat: no-repeat;
}

header
{
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    background-position: center;
    height: 200px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
  
#logo{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 100px;
}

.style{
    text-align: center;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #0b0988 20%,
    #0ab163 40%,
    #5ba506 50%,
    #bc3918 60%,
    #bc3918 65%,
    #5ba506 70%,
    #0ab163 80%,
    #0b0988 90%,
    #231557 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

#MainMenu{
    padding: 28px 0;
}

#MainMenu li{
    display: inline-block;
    margin: 0 15px;
}

#MainMenu li a{
    margin-right: 30px;
    text-decoration: none;
    font-size: large;
    color: rgb(2, 0, 2);
    padding: 5px 0;
    position: relative;
}

#MainMenu li a::after{
    content:'';
    background: rgb(117, 7, 130);
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s;
}

#MainMenu li a:hover::after{
    width: 100%;
}

#Presentation{
    background: rgb(166,60,117);
    background: linear-gradient(240deg, rgba(166,60,117,0.8323704481792717) 0%, rgba(175,98,57,0.8379726890756303) 45%, rgba(200,169,40,0.8491771708683473) 81%, rgba(255,166,82,1) 100%);
    height: 1800px;
    width: 900px;
    margin-right: 15px;
    font-size: medium;
}

p {
 margin:20px;
 padding:10px;
 }

h1 {
    text-decoration: underline;
    margin:20px;
    padding:10px;
}

h2 {
    margin:20px;
    padding:10px;
}



#flora{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
}

#videos{
    background: rgb(96,166,60);
    background: linear-gradient(240deg, rgba(96,166,60,0.8323704481792717) 0%, rgba(175,166,57,0.8379726890756303) 45%, rgba(200,196,40,0.8071603641456583) 81%, rgba(82,255,250,0.865983893557423) 100%);
    background-position: center;
    height: 1800px;
    width: 573px;
    font-size: medium;
    margin-left: 10px;
}

.row {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 185px;
    display : flex;
    flex-direction : row;
  }

header button{
    background-color: transparent;
    border: none;
    outline: none;
}

.dropdown{
    position: relative;
}

.dropdown .content{
    display: none;
    align-items: center;
}

.dropdown:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,1) 0%, rgba(206,106,209,1) 100%);
    padding: 5px 10px;
}

button{
    color: rgb(2, 0, 2);
}

#mammifere_text{
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    height: 330px;
    width: 1500px;
    margin-left: 200px;
    margin-bottom: 20px;
    font-size: medium;
}

#mammifereOne{
    margin-left: 200px;
    margin-top: 25px;
    margin-right: 30px;
    height: 250px;
    width: 475px;
    font-size: medium;
    display: inline-block;
}

#mammifereTwo{
    margin-top: 25px;
    height: 250px;
    margin-right: 30px;
    width: 475px;
    font-size: medium;
    display: inline-block;
}

#mammifereThree{
    margin-top: 25px;
    height: 250px;
    width: 475px;
    font-size: medium;
    display: inline-block;
}

#fauna{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 100px;
}

.location-listing {
    position: relative;
  }


.location-image {
    line-height: 0;
    overflow: hidden;
}

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    color: rgb(0, 0, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 0.75;
}
  
.location-listing:hover .location-image img {
    filter: blur(0.5px);
}

#separation{
    margin-top: 45px;
}

#inside{
    width: 100%;
    height: auto;
}

.line { width:100%; height:1px; background: rgb(0, 0, 0) }

footer{
    margin-top: 30px;
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    background-position: center;
    height: 200px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

footer p{
    text-align: center;
}

#features{
    background: rgb(166,60,117);
    background: linear-gradient(240deg, rgba(166,60,117,0.8323704481792717) 0%, rgba(175,98,57,0.8379726890756303) 45%, rgba(200,169,40,0.8491771708683473) 81%, rgba(255,166,82,1) 100%);
    height: 300px;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}

.action{
    background: rgb(166,60,117);
    background: linear-gradient(240deg, rgba(166,60,117,0.8323704481792717) 0%, rgba(175,98,57,0.8379726890756303) 45%, rgba(200,169,40,0.8491771708683473) 81%, rgba(255,166,82,1) 100%);
    height: 3000px;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    margin-top: 45px;
}

.action img, iframe{
    align-items: center;
    margin-top: 50px;
}

.action img{
    width: 250px;
    height: 250px;
}

.diapo{
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.diapo h1{
    color: aliceblue;
    text-decoration: none;
}

#nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3em;
}

#nav-droite{
    right: 400px;
    top:50%;
}

#nav-gauche{
    left: 400px;
    top:50%;
}

.elements{
    display: flex;
    transition: 1s linear;
}

.element{
    flex: 1 0 100%;
    position: relative;
    text-align: center;
}

.element > a > img{
    width: 1500px;
    height: 675px;
}

.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    padding: 30px;
}

.contact{
    background: rgb(241,150,44);
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    background-position: center;
    height: 900px;
    width: 1500px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.TTM img{
    margin-top: 50px;
    width: 75px;
    height: 75px;
    display: inline-block;
    position: relative;
}

.clc{
    margin-top: 20px;
}

hr{
    border-top: 1px solid black;
    border-radius: 3px;
}

.FAQ{
    background: rgb(241,150,44);
    text-align: center;
    background: linear-gradient(85deg, rgba(241,150,44,0.8295693277310925) 0%, rgba(206,106,209,0.8155637254901961) 100%);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 300px;
    width: 1500px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}